//container de alinhamento do layout. Aonde usar essa classe, alinha o conteúdo. Mantém centralizado, independente do tamanho
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;

    h1 {
        font-family: "More Sugar";
        font-weight: normal;
        text-align: center;
        font-size: 50px;
    }
}



//BG Home

.bg-home {
    position: relative;
    overflow: hidden;

}

//pseudo elemento, antes do nosso conteúdo
.bg-home::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../assets/bg.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; //fica uma camada abaixo dos elementos da tela
    background-size: cover; //tentar pegar o tamanho inteiro na tela, sem quebrar
    background-repeat: no-repeat;
    background-position: 50% 0;

}

.hero {
    font-family: "Suez One";
    color: $white-normal;
    min-height: 60vh; //60% do tamanho do view high.
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 840px;
        font-size: 50px;
        font-weight: normal;

    }
}

/** ABOUT  **/
.about {
    color: $dark-blue;
}

.about-content {
    align-items: center;
    padding: 34px 14px 64px 14px;
}

.about-description {
    p {
        margin: 25px 0px 0px 0px;
        line-height: 150%;
        font-size: 15px;
        text-align: justify;
    }
}






/** END ABOUT **/

/** BEGIN SERVICES **/

.our-services {
    background-color: $dark-blue;
    color: $white-light;

}

.our-services-and-testimony-content {
    h2 {
        text-align: center;
        font-size: 30px;
    }
}

.service-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 75px 44px 64px 44px;

}

.service-item {
    flex: 1; //cada div tenta ocupar o tamanho igual na tela
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 95px;

    img {
        width: 164px;
        transition: transform 0.2s;
        min-height: 160px;
        object-fit: cover; // Adicionado para manter a proporção da imagem
    }

    img:hover {
        transform: scale(1.2);
    }
}



.service-info {
    margin-top: 20px;
    font-size: 19px;
}



/** END SERVICES **/


/** BEGIN COME TO BE JUVE **/
.come-to-be-juve {
    color: $dark-blue;
    padding: 20px 20px 50px 20px;
}

.come-to-be-juve-description {

    position: relative;

    h2 {
        margin-top: 50px;
        margin-bottom: 15px;
        font-size: 17px;
    }

    li {
        font-size: 15px;
        margin: 20px 0px 0px 30px;
    }

    p {
        margin-top: 50px;
    }
}

.come-to-be-button-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.come-to-be-button {
    display: inline-block;
    line-height: 20px;
    padding: 15px 50px;
    border-radius: 30px;
    color: $white-normal;
    background-color: $dark-blue;
    font-size: 18px;
    transition: background-color 0.8s; //transição do hover para não mudar a cor do botão de uma vez
}

.come-to-be-button:hover {
    border: 1px solid $dark-blue;
    background-color: $white-normal;
    color: $dark-blue;
    -webkit-text-stroke-width: 0.1px;
    /* largura da borda */
    -webkit-text-stroke-color: $black-normal;
    /* cor da borda */
}


/** END COME TO BE JUVE ** /

/** BEGIN TESTIMONY **/

.stars {
    color: gold;
    line-height: 1;
}

.testimony {
    background-color: $dark-blue;
    color: $white-light;
    padding-top: 30px;

}

.testimonial-content {
    display: flex;
    align-items: center;
}

.testimonial-content img {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    margin-right: 15px;
    border: 3px white solid;
}

.testimonial {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0px 80px 0px;
    min-height: 600px;

    p {
        padding-top: 30px;
    }
}

.testimonial-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonial-name {
    font-weight: bold;
    margin: 0;
    /* Remove a margem superior e inferior */
    line-height: 1;
}



.testimonial p {
    text-align: center;
    font-size: 18px;
    max-width: 1000px;
    line-height: 250%;
    order: 2;
}

.prev,
.next {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 70px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    transition: color 0.8s;
    line-height: 50px;

}

.prev:hover,
.next:hover {
    color: $dark-blue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.prev {
    order: 1;
    padding-left: 100px;
}

.next {
    order: 3;
    padding-right: 100px;
}


@keyframes flipLeft {
    0% {
        transform: rotateY(90deg);
        opacity: 0;
    }

    100% {
        transform: rotateY(0);
        opacity: 1;
    }
}

.flip-left-animation {
    animation: flipLeft 1s forwards;
}

/** END TESTIMONY **/

/** BEGIN COME TO MEET **/

#map {
    margin-top: 40px;
    border: 0;
}

/** END COME TO MEET **/

/**BEGIN FOOTER **/

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 24px 0;
    /* Espaçamento no topo e embaixo */
}

.footer-sponsor {
    display: flex;
    flex-direction: column;
    /* Força quebra de linha */
    align-items: flex-start;
    justify-content: center;
}

.footer-sponsor h3 {
    margin-bottom: 10px;
    /* Espaçamento entre o texto e as imagens */
}

.sponsor-images {
    display: flex;
    align-items: center;
}

.sponsor-images img {
    margin-right: 10px;
    width: 100px;
    height: auto;
}

.footer-logo img {
    width: 200px;
    height: auto;
}

.footer-icons {
    display: flex;
    gap: 14px;
    font-size: 20px;
}

.footer-icons a i {
    color: $dark-blue;
}

.footer p {
    text-align: center;
    padding-bottom: 20px;
    margin-left: 140px;
    font-size: 14px;
}





.back-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    z-index: 1000;
    font-size: 24px;
    border: 1px white solid;
    outline: none;
    background-color: $dark-blue;
    color: $dark-blue;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    opacity: 0;
    /* inicialmente transparente */
    visibility: hidden;
    /* inicialmente invisível */
    transition: opacity 0.3s, visibility 0.3s, background-color 0.3s;
    /* combinação das transições */
}

.back-to-top:hover {
    background-color: $white-light;
    color: $dark-blue;
    border: solid 1px $dark-blue;
    transition: background-color 0.3s;

    i {
        color: $dark-blue;
    }
}

.footer-icons a:hover {
    i {
        color: $dark-blue;
        animation: translateY 0.8s infinite alternate;
    }
}

/**END FOOTER **/


/* Estilos para dispositivos tablets */
@media (max-width: 1100px) {
    .back-to-top {
        padding: 0px 8px 10px 8px;

        i {
            font-size: 30px;
        }
    }
}


//formtação para celulares
@media screen and (max-width: 768px) {


    .container{
        h1{
            font-size: 34px;
        }
        h2{
            font-size: 15px;
        }
        p{
            font-size: 14px;
        }

        ul, li{
            font-size: 14px;
        }
        
        
    }
    .hero {
        min-height: 61.2vh;

        h1 {
            font-size: 34px;
            padding: 0 14px;
            width: 100%;
        }
    }

    .about-content {
        flex-direction: column;
        text-align: center;

        img {
            max-width: 320px;
            min-width: 250px;
        }
    }

    .bg-home::before {
        height: 70vh;
    }

    .about-description {
        p {
            font-size: 15px;
        }
    }

    .our-services-and-testimony-content {
        h2 {
            font-size: 25px;
        }
    }

    .service-items {
        flex-direction: column;
        text-align: center;
    }

    .service-item {
        margin: 40px 0px 0px 0px;

        img {
            width: 164px;
            height: auto;
            object-fit: cover; // Adicionado para manter a proporção da imagem
        }
    }

    .service-info {
        font-size: 16px;
    }

    .testimonial p {
        font-size: 16px;
        line-height: 150%;
        padding: 0 20px 0 20px;

    }

    .prev,
    .next {
        font-size: 50px;
        line-height: 200px;
    }

    .prev {
        padding-left: 5px;
    }

    .next {
        padding-right: 5px;
    }

    .testimonial {
        padding: 30px 0px 30px 0px;
        min-height: 525px;
    }

    .footer {
        font-size: 14px;
        text-align: center;

        p{
            margin-left: 0px;
        }

    }

    .footer-logo {
        width: 200px;
    }

    .footer-content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer-sponsor,
    .footer-logo,
    .footer-icons {
        justify-content: center;
        
    }


    .back-to-top {
        i {
            font-size: 28px;
        }
    }
}