.bg-service {
    position: relative;
    overflow: hidden;
    background-color: $dark-blue;
}

//pseudo elemento, antes do nosso conteúdo
.bg-service::before {
    content: '';
    display: block;
    position: absolute;
    background-image: url("../assets/limpeza-banner.png");
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1; //fica uma camada abaixo dos elementos da tela
    background-size: cover; //tentar pegar o tamanho inteiro na tela, sem quebrar
    background-repeat: no-repeat;
    background-position: 50% 0;
}

.clean-service-content{
    font-family: "Suez One";
    color: $white-normal;
    min-height: 40vh; //60% do tamanho do view high.
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;
    font-weight: n;
    h1 {
        text-align: center;
        line-height: 150%;
        max-width: 840px;
        font-size: 50px;
        font-weight: normal;
    }
    p{
        font-family: "Nurito";
        font-size: 23px;
        padding-top: 40px;
        text-align: center;
    }
}

.clean-services {
    color: $dark-blue;
}

.clean-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    padding: 75px 44px 64px 44px;
}

.clean-item {
    flex: 1; //cada div tenta ocupar o tamanho igual na tela
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px 0px 95px;
    img {
        width: 164px;
        transition: transform 0.2s;
        min-height: 160px;
        object-fit: cover; // Adicionado para manter a proporção da imagem
    }
    img:hover {
        transform: scale(1.2);
    }
}

.service-info {
    margin-top: 20px;
    font-size: 19px;
}

.not-found-button{
    display: inline-block;
    line-height: 10px;
    padding: 15px 50px;
    border-radius: 30px;
    color: $white-light;
    background-color: $dark-blue;
    font-size: 15px;
    transition: background-color 0.8s; 
    border: $white-light solid 1px;
    margin: 10px 0 15px 0;
}

.not-found-button:hover {
    border: 1px solid $dark-blue;
    background-color: $white-light;
    color: $dark-blue;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: $black-normal;
}

.not-found-service{
    color: $white-light;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: left;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
    background-color: $dark-blue;
}

.search-field{
    input{
        width: 450px;
        height: 35px;
        border: solid 1px $dark-blue;
        text-indent: 10px;
        margin-top: 5px;
    }
}

.map-section {
    padding: 20px 0;
    text-align: center;
}

.map-section img {
    width: 100%;
    max-width: 1400px;
    height: auto;
    margin: 0 auto;
    background-repeat: repeat-x;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5); /* Cor de fundo semi-transparente */
    padding-top: 60px;
}

.modal-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.modal-header img {
    margin-right: 20px;
    width: 80px;
    height: 80px;
}

.modal-header-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal-header-top h2 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.stars {
    color: gold;
    font-size: 18px;
    margin-top: 5px;
}

.map-icon {
    position: absolute;
    width: 40px; /* Ajuste o tamanho conforme necessário */
    height: 40px; /* Ajuste o tamanho conforme necessário */
    background: url('assets/person-icon.png') no-repeat center center;
    background-size: contain;
    cursor: pointer;
}

.modal-header p {
    margin: 5px 0;
}

.chat-icon {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.chat-icon img {
    width: 35px;
    height: auto;
    margin-right: 8px;
}

.modal-body {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-body p {
    margin: 0;
}

.modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    padding-top: 15px;
    margin-top: 15px;
}

.modal-footer button {
    padding: 10px 20px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    margin-left: 15px;
}

.modal-footer button.primary {
    background-color: $dark-blue; 
    color: $white-light;
}

.modal-footer button.primary:hover {
    background-color:$white-light; 
    color: $dark-blue;
    border: 1px solid $dark-blue;
}

.modal-footer button.secondary {
    background-color:$white-light;
    color:$dark-blue;
    border: 1px solid $dark-blue;
}

.modal-footer button.secondary:hover {
    background-color: rgb(39, 119, 102);
    color: $white-light;
    border: 1px solid white;
}

/* Estilos adicionais para dispositivos móveis */
@media screen and (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 10px;
    }

    .modal-header img {
        width: 60px;
        height: 60px;
    }

    .modal-footer button {
        width: 48%;
        font-size: 14px;
    }

    
.chat-icon img {
    width: 25px;
    height: auto;
    margin-right: 8px;
}
}





@media screen and (max-width: 768px) {
    .search-field{
        input{
            width: 250px;
        }
    }
}
