@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  background-color: #104064;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

i {
  color: white;
}

.header-icons {
  display: flex;
  gap: 14px;
  padding: 30px;
}

.header-icons a:hover i {
  color: #F0DAB5;
  animation: translateY 0.8s infinite alternate;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  width: 300px;
  min-width: 250px;
}

.header-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.header-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
}
.header-menu li {
  display: flex;
  align-items: center;
}
.header-menu a {
  text-decoration: none;
  color: #FAF9F6;
  margin: 0; /* Espaço entre os ícones */
  padding: 0;
  font-weight: bold;
  white-space: nowrap;
}
.header-menu a:hover {
  color: #F0DAB5;
}

.separator {
  display: flex;
  background-image: url("../assets/separator.png");
  background-repeat: no-repeat;
  background-size: contain; /* Ajusta o tamanho da imagem de fundo para preencher o elemento */
  margin: 0 0px 0px 15px; /* Adiciona margem ao redor do separador */
  left: 0;
  top: 0;
  width: 35px;
  height: 30px;
}

/* Estilos para dispositivos tablets  */
@media (max-width: 1100px) {
  .header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo img {
    width: 260px;
    margin-top: 46px;
  }
  i {
    margin-top: 16px;
    font-size: 44px;
  }
}
/* Estilos para dispositivos móveis */
@media (max-width: 768px) {
  .header-menu ul {
    display: none; /* Oculta o menu no início */
  }
  .mobile-menu-button {
    display: block; /* Mostra o ícone do menu */
  }
  /* Outros estilos de layout responsivo para o menu móvel */
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-logo img {
    width: 250px;
    margin-top: 46px;
  }
  i {
    margin-top: 16px;
    font-size: 34px;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 10px;
}

.bg-home {
  position: relative;
  overflow: hidden;
}

.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: url("../assets/bg.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}

.hero {
  font-family: "Suez One";
  color: #FFF;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 840px;
  font-size: 50px;
  font-weight: normal;
}

/** ABOUT  **/
.about i {
  margin: 0;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  padding: 34px 14px 64px 14px;
  overflow: hidden;
}
.about-content img {
  max-width: 570px;
  min-width: 350px;
}

.section-separator-down {
  display: flex;
  height: 80px;
  width: 100%;
  background-image: url("../assets/separator-section-down.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.section-separator-up {
  display: flex;
  height: 80px;
  width: 100%;
  background-image: url("../assets/separator-section-up.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0 auto;
}

.about-description p {
  margin-bottom: 25px;
  line-height: 150%;
  font-size: 20px;
  text-align: justify;
}

.about-button {
  border: 1px solid #FFF;
  line-height: 80px;
  padding: 15px 50px;
  border-radius: 30px;
  color: #FFF;
  background-color: #00a884;
  font-size: 18px;
  transition: background-color 0.8s;
}

.about-button:hover {
  border: 1px solid #1ce7bc;
  background-color: #1ce7bc;
  color: #232224;
  -webkit-text-stroke-width: 0.1px; /* largura da borda */
  -webkit-text-stroke-color: #232224; /* cor da borda */
}

/** END ABOUT **/
/** BEGIN WHY QUIRO **/
.why-quiro-and-testimony-content h2 {
  text-align: center;
  font-size: 30px;
}

.quiro-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 75px 44px 34px 44px;
}

.quiro-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.quiro-item img {
  width: 144px;
  transition: transform 0.2s;
  min-height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
}
.quiro-item img:hover {
  transform: scale(1.2);
}

.quiro-info {
  margin-top: 20px;
  font-size: 19px;
}

/** END WHY QUIRO **/
/** BEGIN TESTIMONY **/
.stars {
  color: gold;
  text-align: center;
}

.testimonial {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px 80px 0px;
  min-height: 600px;
}

.testimonial p {
  text-align: center;
  font-size: 18px;
  max-width: 1000px;
  line-height: 250%;
  order: 2;
}

.prev, .next {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 70px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  transition: color 0.8s;
  line-height: 50px;
}

.prev:hover, .next:hover {
  color: #104064;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.prev {
  order: 1;
  padding-left: 100px;
}

.next {
  order: 3;
  padding-right: 100px;
}

@keyframes flipLeft {
  0% {
    transform: rotateY(90deg);
    opacity: 0;
  }
  100% {
    transform: rotateY(0);
    opacity: 1;
  }
}
.flip-left-animation {
  animation: flipLeft 1s forwards;
}

/** END TESTIMONY **/
/** BEGIN COME TO MEET **/
#map {
  margin-top: 40px;
  border: 0;
}

/** END COME TO MEET **/
/**BEGIN FOOTER **/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  gap: 24px;
  color: #161617;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}

.footer-icons {
  display: flex;
  gap: 14px;
  padding-top: 20px;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 40px;
  z-index: 1000;
  font-size: 24px;
  border: none;
  outline: none;
  background-color: #FFF;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  opacity: 0; /* inicialmente transparente */
  visibility: hidden; /* inicialmente invisível */
  transition: opacity 0.3s, visibility 0.3s, background-color 0.3s; /* combinação das transições */
}

.back-to-top:hover {
  background-color: #104064;
  color: #FAF9F6;
  transition: background-color 0.3s;
}
.back-to-top:hover i {
  color: #FAF9F6;
}

.footer-icons a:hover i {
  color: #104064;
  animation: translateY 0.8s infinite alternate;
}

/**END FOOTER **/
/** BEGIN BUTTON WHATS APP **/
.btn-whatsapp {
  position: fixed;
  bottom: 84px;
  right: 24px;
  z-index: 99;
  visibility: hidden;
}
.btn-whatsapp img {
  max-width: 74px;
  transition: transform 0.4s;
}
.btn-whatsapp img:hover {
  transform: scale(1.1);
}

.btn-whatsapp .tooltip-text {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 8px;
  left: -144px;
  background-color: #FFF;
  color: #232224;
  padding: 6px;
  border: 1px solid black;
  border-radius: 8px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.btn-whatsapp:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/**END BUTTON WHAT'S APP **/
/* Estilos para dispositivos tablets */
@media (max-width: 1100px) {
  .btn-whatsapp {
    bottom: 94px;
  }
  .back-to-top {
    padding: 0px 8px 10px 8px;
  }
  .back-to-top i {
    font-size: 30px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 61.2vh;
  }
  .hero h1 {
    font-size: 34px;
    padding: 0 14px;
    width: 100%;
  }
  .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about-content img {
    max-width: 320px;
    min-width: 250px;
  }
  .bg-home::before {
    height: 70vh;
  }
  .section-separator-down {
    height: 90px;
  }
  .section-separator-up {
    height: 90px;
  }
  .about-description p {
    font-size: 18px;
  }
  .why-quiro-and-testimony-content h2 {
    font-size: 25px;
  }
  .quiro-items {
    flex-direction: column;
    text-align: center;
  }
  .quiro-item img {
    width: 104px;
    min-height: 120px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .quiro-info {
    font-size: 16px;
  }
  .testimonial p {
    font-size: 16px;
    line-height: 150%;
    padding: 0 20px 0 20px;
  }
  .prev, .next {
    font-size: 50px;
    line-height: 200px;
  }
  .prev {
    padding-left: 5px;
  }
  .next {
    padding-right: 5px;
  }
  .testimonial {
    padding: 30px 0px 30px 0px;
    min-height: 525px;
  }
  .footer {
    font-size: 14px;
    text-align: center;
  }
  .footer-logo {
    width: 200px;
  }
  .back-to-top i {
    font-size: 28px;
  }
  .btn-whatsapp {
    bottom: 84px;
  }
  .btn-whatsapp img {
    max-width: 64px;
  }
}
body {
  font-family: "Sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #FFF;
}

button {
  font-family: "Sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */